.section {
  background-color: rgb(228, 248, 246);
  overflow: hidden;
  }
  h1{
    font-weight: 900;
    font-size: 3rem;
    width: 33rem;
  }
  .image-container {
   position: absolute;
   left: 55rem;
  }
  .innerImage{
    height: 40rem;
  }