.container-fluid{
  margin: 0 5rem;
}
.card{
  width: 25rem;
  height: 35rem;
  padding: 1rem;

}
.card-profile-image {
position: relative;
}

.card-profile-image img {
position: absolute;
left: 50%;
height: 8rem;
width: 8rem;
transition: all .15s ease;
transform: translate(-50%, -30%);
border-radius:100vh;
}

.card-profile-image img:hover {
transform: translate(-50%, -33%);
}

.card-profile-stats1 {
  margin-top: 2rem;
  margin-left: 20px;
 display: flex;
 align-items: center;
 gap: 1rem;
}

.card-profile-stats>div {
margin-right: 1rem;
padding: .875rem;
align-items: center;
text-align: center;
}

.card-profile-stats>div:last-child {
margin-right: 0;
}
.innerr{
  display: flex;
  align-items: center;
  flex-direction: column;

}
.card-profile-stats>div .heading1 {
font-size: 1.1rem;
font-weight: bold;
display: block;
}

.card-profile-stats>div .description1 {
font-size: .875rem;
color: #adb5bd;
}

.rating{
  margin: auto auto;
}
.appoinment{
  width: 100%;
}