.SideBar123 {
    position: fixed;
    height: 42rem;
    width: 17rem;
    background-color: #37373D;
    color: white;
    padding: 1rem 2rem;
    margin:0 2rem;
    border-radius: 1rem;
}
.navlink{
    color: white;
    display: flex;
    align-items: baseline;
    gap: 1rem;
    text-decoration: none;
}
.navlink i{
    color: white;
}
.SideBar123 h3 {
    margin-top: 0;
}

.SideBar123 ul {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
}
i{
    color: white;
}
.SideBar123 li {
    height: 40px;
    flex-direction: column;
    line-height: 40px;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s, transform 0.2s;
}
 .dash{
    background-color: #3993EE;
    border-radius: 0.5rem;
    padding: 0.1rem .9rem;
}
.SideBar123 li:hover {
    background-color: #3993EE;
    transform: scale(1);
    cursor: pointer;
}

.SideBar123 i {
    font-size: 1.2rem;
}

.upgrade {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3993EE;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    margin-top: 24rem
}
